.dashboard {
    overflow-x: hidden;
}

.card {
    min-height: 200px !important;
    padding: 10px;
    border-radius: 20px !important;
  }
  .card h1 {
    font-family: "Tajawal", sans-serif;
    margin-top: 40px;
    margin-right: 10px;
  }
  .card h6 {
    font-family: "Tajawal", sans-serif;
    margin-top: 10px;
    margin-right: 10px;
  }
  h6.text-muted {
    text-align: right;
    font-size: 1.5rem;
  }
  .centered {
    margin-left: 40px;
    margin-right: 40px;
  }
  
  .cards {
    width: 800px;
  }
  
  div {
    display: block;
    text-align: right;
    direction: rtl;
  }
  
  .container {
    display: flex;
    justify-content: center;
  }
  
  .card-img {
    margin: 56px 68px;
    width: 150px !important;
    height: 150px !important;
  }
  
  .no-card {
    min-height: 200px !important;
    padding: 10px;
  }
  
  .no-card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .emp-header {
    margin-top: 20px !important;
    text-align: center;
  }
  
  a {
    color: #000;
  }
  a:hover {
    text-decoration: none !important;
  }
  .card-des {
    font-size: 0.875rem;
    color: grey;
  }
  .card:hover {
    background-color: #1eae9852;
    color: #fff !important;
  }
  .card:hover > div h6 {
    color: #fff !important;
  }
  .card:hover img.card-img {
    transition: 0.5s;
    transform: scale(1.1);
  }
  
  a {
    text-decoration: none !important;
  }
  /* ///////////////////////////////////////////////////////////////////////class page */
  
  .subject-img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
  }
  .center{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      text-align: center;
  }
  
  .attch{
      border: 1px solid #000;
      border-radius: 50px !important;
      padding: 20px 40px;
      margin:40px 40px 20px 20px;
  }
  svg{
      margin-left: 10px;
  }
  
  a:hover .attch{
      color: #1EAE98;
      border-color: #1EAE98;
  }
  
  .comments{
      border:1px solid #000;
      border-radius: 30px !important;
      min-height: 200px;
      max-width: 519px;
      margin:40px 40px 20px 40px !important;
  }
  
  .comment-img{
      background-image: url(../student/student.png);
      height: 50px;
      width: 50px;
      border-radius: 100px;
      margin: 5px;
      display: inline-block;
  }
  
  .comment-text{
      display: inline-block;
      margin-right: 15px;
      margin-top: 10px;
  }
  .comment-name{
      color: #000;
      font-weight: bold;
  }
  .btn{
      margin-right: 10px;
  }
  .form-control{
      margin-right: 10px;
  }
  h2.center{
      margin-top: 20px;
      color: #1EAE98;
      font-weight: bolder;
  }
  
  .Sub-card {
      min-height: 200px !important;
      padding: 10px;
      border-radius: 20px !important;
      text-align: center;
    }
    .Sub-card h1 {
      font-family: "Tajawal", sans-serif;
      margin-top: 40px;
      margin-right: 10px;
    }
    .Sub-card h6 {
      font-family: "Tajawal", sans-serif;
      margin-top: 20px;
      margin-right: 10px;
    }
  
  /* paperwork */
  
  a.download-btn{
    display:inline-block;
    padding:0.9em 1.9em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.5em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    text-transform:uppercase;
    font-weight:400;
    color:#FFFFFF !important;
    font-family: "Tajawal", sans-serif;
    font-weight: bolder;
    background-color:#1EAE98;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
    margin-bottom: 40px;
    }
    a.download-btn:active{
    top:0.1em;
    }
    @media  all and(max-width:30em) {
       a.download-btn{
        display: block;
        margin: 0.4em auto;
      }
    }
    a.download-btn:hover, button:hover {
      background-color: #1a9986 ;
    }
  
  
  .form {
    width: 400px;
  }
  
  .file-upload-wrapper {
    position: relative;
    width: 100%;
    height: 60px;
  }
  .file-upload-wrapper:after {
    content: attr(data-text);
    font-size: 18px;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    padding: 10px 15px;
    display: block;
    width: calc(100% - 40px);
    pointer-events: none;
    z-index: 20;
    height: 60px;
    line-height: 40px;
    color: #999;
    border-radius: 5px 10px 10px 5px;
    font-weight: 300;
  }
  .file-upload-wrapper:before {
    content: "رفع";
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    height: 60px;
    background: #1EAE98;
    color: #fff;
    font-weight: 700;
    z-index: 25;
    font-size: 16px;
    line-height: 60px;
    padding: 0 15px;
    text-transform: uppercase;
    pointer-events: none;
    border-radius: 0 5px 5px 0;
  }
  .file-upload-wrapper:hover:before {
    background: #1a9986;
  }
  .file-upload-wrapper #uploade {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    height: 40px;
    margin: 0;
    padding: 0;
    display: block;
    cursor: pointer;
    width: 100%;
  }
  
  .button {
    font-family: "Tajawal", sans-serif;
    display: inline-block;
    font-weight: bolder;
    min-width: 150px;
    margin: 20px auto;
    background: #1EAE98;
    color: #fefefe;
    font-size: 1.2em;
    padding: 1em;
    border-radius: 4px;
    text-align: center;
    position: relative;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    border: 0;
    transition: border-radius linear 0.05s, width linear 0.05s;
  }
  .button:focus {
    outline: 0;
  }
  .button.animate {
    width: 68.1818181818px;
    height: 68.1818181818px;
    min-width: 0;
    border-radius: 50%;
    color: transparent;
  }
  .button.animate:after {
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    border: 4px solid #fefefe;
    border-radius: 50%;
    border-left-color: transparent;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    animation: spin ease-in 2.5s forwards;
    animation-name: spin;
    -webkit-animation-name: spin;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    animation-duration: 2.5s;
    -webkit-animation-duration: 2.5s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  }
  .button.animate.success:before {
    position: absolute;
    content: "";
    width: 25px;
    height: 12.5px;
    border: 4px solid #fefefe;
    border-right: 0;
    border-top: 0;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(0);
    transform: translate(-50%, -50%) rotate(0deg) scale(0);
    -webkit-animation: success ease-in 0.15s forwards;
    animation: success ease-in 0.15s forwards;
    animation-delay: 2.5s;
  }
  
  @keyframes spin {
    0% {
      transform: translate(-50%, -50%) rotate(0deg) scale(1);
    }
    90% {
      transform: translate(-50%, -50%) rotate(1080deg) scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1);
    }
    98% {
      -webkit-transform: translate(-50%, -50%) rotate(1080deg) scale(1);
    }
    100% {
      -webkit-transform: translate(-50%, -50%) rotate(1080deg) scale(0);
    }
  }
  @keyframes success {
    from {
      transform: translate(-50%, -50%) rotate(0) scale(0);
    }
    to {
      transform: translate(-50%, -50%) rotate(-45deg) scale(1);
    }
  }
  @-webkit-keyframes success {
    from {
      -webkit-transform: translate(-50%, -50%) rotate(0) scale(0);
    }
    to {
      -webkit-transform: translate(-50%, -50%) rotate(-45deg) scale(1);
    }
  }
  
  /* test */
  
  .test {
    max-width: 900px;
    position: relative;
    margin: 50px auto 0;
    font-size: 15px;
    font-family: "Tajawal", sans-serif;
  
  }
  @media (max-width: 767px) {
    .test {
      max-width: 400px;}
  }
  .test h3{
    text-align: right;
    margin-bottom: 30px;
    margin-right: 20px;
  }
  .radiobtn {
    position: relative;
    display: block;
  }
  .radiobtn label {
    margin-right: 20px;
    display: block;
    background: #b4f0e7;
    color: #444;
    border-radius: 5px;
    padding: 10px 20px;
    border: 2px solid #1EAE98;
    margin-bottom: 5px;
    cursor: pointer;
  }
  .radiobtn label:after, .radiobtn label:before {
    content: "";
    position: absolute;
    right: 11px;
    top: 11px;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    background: #1EAE98;
  }
  .radiobtn label:before {
    background: transparent;
    transition: 0.1s width cubic-bezier(0.075, 0.82, 0.165, 1) 0s, 0.3s height cubic-bezier(0.075, 0.82, 0.165, 2) 0.1s;
    z-index: 2;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 13px;
    background-position: center;
    width: 0;
    height: 0;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNS4zIDEzLjIiPiAgPHBhdGggZmlsbD0iI2ZmZiIgZD0iTTE0LjcuOGwtLjQtLjRhMS43IDEuNyAwIDAgMC0yLjMuMUw1LjIgOC4yIDMgNi40YTEuNyAxLjcgMCAwIDAtMi4zLjFMLjQgN2ExLjcgMS43IDAgMCAwIC4xIDIuM2wzLjggMy41YTEuNyAxLjcgMCAwIDAgMi40LS4xTDE1IDMuMWExLjcgMS43IDAgMCAwLS4yLTIuM3oiIGRhdGEtbmFtZT0iUGZhZCA0Ii8+PC9zdmc+);
  }
  .radiobtn input[type=radio] {
    display: none;
    position: absolute;
    width: 100%;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  .radiobtn input[type=radio]:checked + label {
    background: #198d7c;
    -webkit-animation-name: blink;
            animation-name: blink;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    border-color: #22c2aa;
    color: #fff;
  }
  .radiobtn input[type=radio]:checked + label:after {
    background: #22c2aa;
  }
  .radiobtn input[type=radio]:checked + label:before {
    width: 20px;
    height: 20px;
  }
  
  @-webkit-keyframes blink {
    0% {
      background-color: #198d7c;
    }
    10% {
      background-color: #198d7c;
    }
    11% {
      background-color: #198d7c;
    }
    29% {
      background-color: #198d7c;
    }
    30% {
      background-color: #198d7c;
    }
    50% {
      background-color: #198d7c;
    }
    45% {
      background-color: #198d7c;
    }
    50% {
      background-color: #198d7c;
    }
    100% {
      background-color: #198d7c;
    }
  }
  
  @keyframes blink {
    0% {
      background-color: #198d7c;
    }
    10% {
      background-color: #198d7c;
    }
    11% {
      background-color: #198d7c;
    }
    29% {
      background-color: #198d7c;
    }
    30% {
      background-color: #198d7c;
    }
    50% {
      background-color: #198d7c;
    }
    45% {
      background-color: #198d7c;
    }
    50% {
      background-color: #198d7c;
    }
    100% {
      background-color: #198d7c;
    }
  }
  a.submit-btn{
    margin-top: 30px !important;
    display:inline-block;
    padding:0.9em 1.9em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.5em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    text-transform:uppercase;
    font-weight:400;
    color:#FFFFFF !important;
    font-family: "Tajawal", sans-serif;
    font-weight: bolder;
    background-color:#1EAE98;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
    margin-bottom: 40px;
    border-color: #1EAE98;
    cursor: pointer;
    }
    a.submit-btn:active{
    top:0.1em;
    }
    a.submit-btn:hover{
      background-color: #168171;
    }
    @media  all and(max-width:30em) {
      a.submit-btn{
        display: block;
        margin: 0.4em auto;
      }
      
    }
  
  
    /* all-Lecture */
    .content-wrapper {
      padding: 2.375rem 2.375rem;
      width: 100%;
      -webkit-flex-grow: 1;
      flex-grow: 1;
    }
    
    @media (max-width: 767px) {
      .content-wrapper {
        padding: 1.5rem 1.5rem;
      }
    }
  
    .data-card {
      display: flex;
      flex-direction: column;
      max-width: 20.75em;
      min-height: 18.75em;
      overflow: hidden;
      border-radius: 0.5em;
      text-decoration: none;
      background: white;
      margin: 1em;
      padding: 2.75em 2.5em;
      box-shadow: 0 1.5em 2.5em -0.5em rgba(0, 0, 0, 0.1);
      transition: transform 0.45s ease, background 0.45s ease;
    }
    .data-card h3 {
      color: #2E3C40;
      font-size: 2.5em;
      font-weight: 600;
      line-height: 1;
      padding-bottom: 0.5em;
      margin: 0 0 0.142857143em;
      border-bottom: 2px solid #1EAE98;
      transition: color 0.45s ease, border 0.45s ease;
    }
    .data-card h4 {
      color: #1EAE98;
      text-transform: uppercase;
      font-size: 1.125em;
      font-weight: 700;
      line-height: 1;
      letter-spacing: 0.1em;
      margin: 0 0 1.777777778em;
      transition: color 0.45s ease;
    }
    .data-card p {
      opacity: 0;
      color: #FFFFFF;
      font-weight: 600;
      line-height: 1.8;
      margin: 0 0 1.25em;
      transform: translateY(-1em);
      transition: opacity 0.45s ease, transform 0.5s ease;
    }
    .data-card .link-text {
      display: block;
      color: #1EAE98;
      font-size: 1.125em;
      font-weight: 600;
      line-height: 1.2;
      margin: auto 0 0;
      transition: color 0.45s ease;
      margin-left: 10px;
    }
    .data-card svg{
      margin-right: 20px;
    }
    .data-card .link-text svg {
      margin-left: 0.5em;
      transition: transform 0.6s ease;
    }
    .data-card .link-text svg path {
      transition: fill 0.45s ease;
    }
    .data-card:hover {
      background: #1EAE98;
      transform: scale(1.02);
    }
    .data-card:hover h3 {
      color: #FFFFFF;
      border-bottom-color: #1EAE98;
    }
    .data-card:hover h4 {
      color: #FFFFFF;
    }
    .data-card:hover p {
      opacity: 1;
      transform: none;
    }
    .data-card:hover .link-text {
      color: #FFFFFF;
    }
    .data-card:hover .link-text svg {
      -webkit-animation: point 1.25s infinite alternate;
              animation: point 1.25s infinite alternate;
    }
    .data-card:hover .link-text svg path {
      fill: #FFFFFF;
    }
    
    @-webkit-keyframes point {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(0.125em);
      }
    }
    
    @keyframes point {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(0.125em);
      }
    
    
    }
    a:hover{
      text-decoration: none !important;
      color: inherit;
    }
    
    .center-card {
      text-align: center;
      display: flex;
    justify-content: center;
      }

    @media (max-width: 992px) {
      .cards .card img.card-img {
        display: none;
      }
    }

    .card h1, .card h6 {
      font-weight: 900;
    }

    /* Change Password */
    /* Style all input fields */
.change-password input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

/* Style the submit button */

/* Style the container for inputs */
.change-password .container {
  background-color: #f1f1f1;
  padding: 20px;
}

/* The message box is shown when the user clicks on the password field */
#message, #confirm-message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p, #confirm-message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.change-password .valid {
  color: green;
}

.change-password .valid:before {
  position: relative;
  left: 35px;
  content: "✓";
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.change-password .invalid {
  color: red;
}

.change-password .invalid:before {
  position: relative;
  left: 35px;
  content: "✖";
}

button:disabled {
  background-color: grey;
  opacity: 0.6;
  cursor: not-allowed
}
button:disabled:hover {
  background-color: grey;
}

.override.btn-outline-primary {
  background-color: #FFF !important;
  color: #1a9986;
  border-color: #1a9986;
}

.override.btn-outline-primary:hover {
  color: #FFF;
  background-color: #1a9986 !important;
}